.blogitem{
    margin: 20px;
    font-family: 'Cabin', sans-serif;
    
}
.blogcontainer{
    margin-left: 100px;
    margin-top: 100px;
}
.blogcontainer h1{
    font-family: 'Cabin', sans-serif;
    margin: 23px;

}
.blogitem p{
    font-family: 'Source Code Pro', monospace;

}

.btn-sm{
    font-size:10px;
    padding: 7px 13px;
    margin: 10px 0;
}